/************************TAG SELECTORS*************/
body{
    background-color: beige;
    text-align: center;
    
}
h1{
    color: forestgreen;
    shape-margin: 50%;
}
h2{
    color:forestgreen;
}
h3{
    color: forestgreen;
}
h4{
    color: gold;
}
hr{
    color: aqua;
}
th{
    color: red;
}
li{
    list-style: none;
   color: darkgreen;
}
a:hover{
    color: chocolate;
}
    /***********************ID SELECTORS******************/
    #top_image{
        width: 500px;
        border-radius: 50%;
    }
    #image_2{
        width: 500px;
        border-radius: 50%;
    }

#h1_design,#h1_design2{
   color: gold;
}
#h2_design{
    color: maroon;
}
#contacts_design{
    color: orangered;
}
#paragraph1{
    text-align: center;
  color: green
    
}
#table_2{
width: 100%;
}

/*******************CLASS SELECTORS***********************/
.table_images{ 
    width: 100px;
    text-align: center;
}